/* section 1 */

.section_1{
    width: 100%;
    height: 200px;
    box-shadow: 10px 5px 20px black;
}
.section_1_titre{
    margin-top: 100px;
}
.section_1_titre h1{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 400;
    padding-top:30px
}
.section_1_titre p{
    width: 70%;
    text-align: center;
    margin:auto;
    font-family: "myriad-pro", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}


/* SLIDER */ 

.slider{
    position: relative;
    width: 95%;
    height: 100vh;
    overflow: hidden;
    margin:auto;
    box-shadow: 10px 5px 20px black;
}
.slides{
    position: absolute;
    width: 500%;
    height: 100%;
    top:0;
    left: 0;
    transition: 2s ease;
}
.slide{
    width: 20%;
    height: 100%;
    position: relative;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.slide::before{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.slide:nth-child(1){
    background-image: url(images/services-01.jpg);
}
.slide:nth-child(2){
    background-image: url(images/services-02.jpg);
}
.slide:nth-child(3){
    background-image: url(images/services-03.jpg);
}
.slide:nth-child(4){
    background-image: url(images/services-04.jpg);
}
.slide:nth-child(5){
    background-image: url(images/services-05.jpg);
}
.slide_presentation{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ffff;
    padding: 0 20%;
}

.slide_presentation h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size:45px;
    margin-bottom: 30px;
}
.slide_presentation p{
    font-family: "myriad-pro", sans-serif;
    font-size:18px;
    margin-bottom: 10px;
}
.slide_presentation {
    font-family: "myriad-pro", sans-serif;
    font-size:18px;
    margin-bottom: 10px;
}
.slider .btn_arrow{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background:none;
    outline: none;
    border: none;
    font-size: 60px;
    color: #ffff;
    transition: 0.4s linear;
}
.slider .btn_arrow:hover{
    text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}
.slider .prev{
    left: 3%;
}
.slider .next{
    right: 3%;
}

.dots{
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
}
.dots span{
    width: 20px;
    height: 20px;
    margin:0 6px; 
    border-radius: 100px;
    background-color: #fff;
    display: inline-block;
    transition: 0.4 linear;

}
.dots span:hover{
    background-color: #000 !important;
    border: 2px solid #ffff;
}
.dot-active{
    background-color: #000 !important;
    border: 1px solid #ffff;
}
.section_3_presentation{
    padding: 40px;
    width: 90%;
    margin:auto;
}
.section_3_presentation p{
    font-size: 18px;
    font-family: "myriad-pro", sans-serif;
    font-style: normal;
    font-weight: 300;
}

.pied_de_page{
    margin-top: 100px;

}

/* MEDIA QUERIES */ 

@media only screen and (max-width:1140px){
    

}

@media only screen and (max-width:960px){

}

@media only screen and (max-width:720px){

    .section_3_presentation p{
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
    }

}
@media only screen and (max-width:540px){
    .section_1{
        height: 250px;
    }

    .slide_presentation h2{
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size:35px;
        margin-bottom: 30px;
    }

}